# ----------------------------------------
#     EXAMPLE .ENV FILE
#   NEVER COMMIT .ENV FILE
# ----------------------------------------

# MQTT connection information
MQTT_HOST=localhost
MQTT_PORT=1883

# Postgres Database connection information
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
# Build the connection string within the script itself. 

# DB-Ingester subscriber script topic
INGEST_SUB_TOPIC=v1/+/reading

# QuantAQ publisher script values
QUANTAQ_API_BASE=https://api.quant-aq.com/v1
QUANTAQ_API_KEY=
QUANTAQ_ORG_ID=1914
QUANTAQ_NETWORK_ID=157
QUANTAQ_PUB_TOPIC=v1/quantaq/reading
