# ----------------------------------------
#     EXAMPLE .ENV FILE
#   NEVER COMMIT .ENV FILE
# ----------------------------------------

# MQTT connection information
MQTT_HOST=localhost                         # Part of VM environment
MQTT_PORT=1883                              # Part of VM environment

# Postgres Database connection information
DB_USER=                                    # Part of VM environment
DB_PASSWORD=                                # Part of VM environment
DB_HOST=localhost                           # Part of VM environment
DB_PORT=5432                                # Part of VM environment
DB_NAME=                                    # Part of VM environment
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# DB-Ingester subscriber script topic
INGEST_SUB_TOPIC=v1/+/reading

# QuantAQ publisher script values
QUANTAQ_API_BASE=https://api.quant-aq.com/v1
QUANTAQ_API_KEY=                            # Part of VM environment (deployed via Terraform + Ansible)
QUANTAQ_ORG_ID=1914
QUANTAQ_NETWORK_ID=157
QUANTAQ_PUB_TOPIC=v1/quantaq/reading
